/*cor-principal:#050F33
cor de fundo:#CED5EE
cor-destaque:#5B6898*/

html{
    color:#050F33;
    background:#CED5EE;
    font-size:18px;
    font-family:Helvetica, sans-serif sans-serif;
}
h1,h2,h3{
    text-align: center;
}
p{
    text-indent: 1em;
}
h1{
    font-size: 1.8rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}
.summary{
    text-align: center;
}
.main p{
    line-height: 1.5;
}
abbr{
    font-variant: small-caps;
}