/*cor principal:#262626;
cor secundaria:#ECF2E4;
cor de destaque:#86A641;
*/
html{
    background-color:#262626 ;
    color:#ECF2E4;
    font-family: monospace ,sans-serif;
}
h1, h2, h3{
    font-family:'Fredoka', serif;
}
h2{
    font-size: 1.4rem;
}
h3{
    color:#86A641;
    font-size: 1.2rem;
}
footer{
    background-color:#878787;
}
#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #86A641;
    color: white;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 2px 5px #000000;
  }

#menu ul{
    list-style-type: none;
    padding: 0;
    justify-content: center;
    display: flex;
}
#menu li {
    margin-right: 20px;
}

#menu a:hover {
    background-color:#555;
    border-radius: 4px;
}
.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    transition: background-color 0.3s;
}
.menu a:visited {
    color: black;
    font-weight: normal;
    text-indent: 1em;
}
body{
margin: 0;
padding-top: 60px;
}
#cabecalho img{
    width: 275px;
   height: 290px;
   border-radius: 50%;
}

nav a {
  text-decoration: none;
  color:black;
  font-weight: bold;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #222;
    color: #fff;
  }
  
  #redes-sociais {
    display: flex;
    gap: 20px;
  }
  
  #redes-sociais a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: inherit;
  }
  
  #redes-sociais img {
    width: 24px;
    height: 24px;
  }
  
  #copyr p {
    margin: 0;
    
  }
  @media (max-width: 768px) {
    #menu ul {
        flex-direction: column;
        align-items: center;
    }
    footer {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    #redes-sociais {
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;
    }
  
    #redes-sociais a {
      justify-content: center;
    }
  }
  